@use "../../foundation/colors" as color;

.p-front-section{
    max-width: 335px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
    &--takeout{
        background: no-repeat url("/image/takeout.jpg");
        background-size: cover;
    }
    &--eatIn{
        background: no-repeat url("/image/eatIn.jpg");
        background-size: cover;
    }
    &__title{
        color: color.$color-text--white;
        font-size: 4.1rem;
        font-weight: bold;
        width: 100%;
        margin: 0 auto 10px 15px;
        padding-top: 11px;
    }
}