@use "../../foundation/colors" as color;
@use "../../foundation/mixin" as mq;

.p-item-card{
    margin-top: 20px;
    background-color: color.$color-card--brown;
    color: color.$color-text--white;
    display: flex;
    flex-direction: column;
    @include mq.mq(tab){
        flex-direction: row;

        img{
            height: auto;
            width: 50%;
        }
    };
    &__text{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 2rem;
            font-weight: bold;
            padding-top: 30px;
            padding-left: 17px;
        }
        h3{
            font-weight: bold;
            padding-top: 30px;
            padding-left: 17px;

        }
        p{
            padding-top: 15px;
            padding-left: 17px;
            padding-right: 70px;
        }
        @include mq.mq(tab){
            h2{
                padding-left: 25px;
            }
            h3{
                padding-left: 25px;
            }
            p{
                padding-left: 25px;
            }
        };
        @include mq.mq(pc){
            h2{
                font-size: 2.5vmin;
                padding-left: 63px;
                padding-top: 53px;
            }
            h3{
                font-size: 2vmin;
                padding-left: 63px;
                padding-top: 47px;
            }
            p{
                padding-left: 63px;
                padding-top: 17px;
            }
        }
    }

    &__button{
        color: color.$color-text--gray;
        font-weight: bold;
        height: 43px;
        width: 163px;
        text-align: center;
        align-self: center;
        margin-top: 40px;
        margin-bottom: 40px;
        @include mq.mq(pc){
            height: 76px;
            width: 292px;
        }
    }
}