@use "../../foundation/colors" as color;

.p-productBox{
    margin: 15px 15px 0 15px;
    color: color.$color-text--brown;
    &__title{
        font-family: 'M PLUS Code Latin' ;
        font-size: 2.2rem;
        font-weight: bold;
        margin-top: 7px;
        margin-left: 10px;
    }
    &__text{
        margin: auto 10px;
    }
}