@use "../../foundation/colors" as color;

.p-single-page{
    padding-bottom: 177px;
    color: color.$color-text--brown;
    &__top{
        display: flex;
        flex-direction: column;
    }
    &__img2{
        width: 70vw;
        align-self: center;
        padding-top: 30px;
    }

    &__list1{
        margin-top: 30px;
        margin-bottom: 30px;
        li{
        list-style-type: decimal;
        }
    }
    &__list2{
        text-indent: -1em;
        padding-top: 30px;
        padding-bottom: 14px;
    }

}