.u-underline-front{
    &--about{
    border-bottom-width: 2px;
    width: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    &--section{
        width: 34px;
        margin-left: 15px;
        margin-bottom: 280px;
    }
}